LOCATE COMP "hwclk" SITE "A10";
IOBUF PORT "hwclk" IO_TYPE=LVCMOS33;

LOCATE COMP "led1" SITE "A13";
LOCATE COMP "led2" SITE "A12";
LOCATE COMP "led3" SITE "B19";
LOCATE COMP "led4" SITE "A18";
LOCATE COMP "led5" SITE "B18";
LOCATE COMP "led6" SITE "C17";
LOCATE COMP "led7" SITE "A17";
LOCATE COMP "led8" SITE "B17";

IOBUF PORT "led1" IO_TYPE=LVCMOS33;
IOBUF PORT "led2" IO_TYPE=LVCMOS33;
IOBUF PORT "led3" IO_TYPE=LVCMOS33;
IOBUF PORT "led4" IO_TYPE=LVCMOS33;
IOBUF PORT "led5" IO_TYPE=LVCMOS33;
IOBUF PORT "led6" IO_TYPE=LVCMOS33;
IOBUF PORT "led7" IO_TYPE=LVCMOS33;
IOBUF PORT "led8" IO_TYPE=LVCMOS33;
